:root{
    --accent-color: #03A9F4;
    --dark-grey: #626262;
    --bg-color: #E5E5E5;
    --light-gray: #B4AD9E;
    --nav-color: #7D7D7D;
}

body{
    font-family: "Playfair Display", serif;
    font-size: 14px;
    font-weight: 400;
    color: var(--dark-grey);
}
.container{
    width: 906px;
    padding: 0 15px;
    margin: 0 auto;
}
.navigation-link{
    color: var(--nav-color);
    text-decoration: none;
}

.navigation-link:hover{
    color: var(--accent-color);
}

.navigation-link__active{
    color: var(--accent-color);
}

.post-subtitle{
    font-family: "Ubuntu", serif;
    font-weight: 300;
    color: var(--light-gray);
    font-size: 14px;
    margin-top: 62px;
    margin-bottom: 32px;
}
.post-title{
    font-weight: 400;
    font-size: 30px
}
.post-text{
    line-height: 1.35;
}
.button{
    border: 1px solid var(--dark-grey);
    display: block;
    margin: 0 auto;   
    background: none;
    cursor: pointer;
    padding: 20px 48px;
    color: var(--dark-grey);
}
.post-item{
    width: 420px;
    margin-bottom: 130px ;
}
.header{
    padding-top: 71px;
    padding-bottom: 92px
}
.navigation-link:not(:last-child){
    margin-right: 99px;
}
.posts{
    margin-bottom: 66px;
}
.navigation{
    display: flex;
    justify-content: center;
}
.posts-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}