:root{
    --accent-color: #03A9F4;
    --dark-grey: #626262;
    --bg-color: #E5E5E5;
    --light-gray: #B4AD9E;
    --nav-color: #7D7D7D;
}

body{
    font-family: "Playfair Display", serif;
    font-size: 14px;
    font-weight: 400;
    color: var(--dark-grey);
}

.navigation-link{
    color: var(--nav-color);
    text-decoration: none;
}

.navigation-link:hover{
    color: var(--accent-color);
}

.navigation-link__active{
    color: var(--accent-color);
}

.post-subtitle{
    font-family: "Ubuntu", serif;
    font-weight: 300;
    color: var(--light-gray);
    font-size: 14px;
}
.post-title{
    font-weight: 400;
    font-size: 30px
}
.post-text{
    line-height: 1.35;
}